.c-charge-left {
    display: flex;
    width: 20%;
    height: 100%;
    min-height: 700px;
    margin-top: 16px;
    margin-bottom: 16px;
    
    &__navi {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        min-height: 50vh;
        border-right: 1px solid #e4e5e8;
        margin-left: 30%;

        .c-charger-left__navi--item-active {
            margin-top: 32px;
            font-size: 20px;
            font-weight: 700;
            color: #1772f8;
            margin-right: auto;
            cursor: pointer;
        }
        
        .c-charger-left__navi--item {
            margin-top: 32px;
            font-size: 20px;
            font-weight: 700;
            color: #79818f;
            margin-right: auto;
            cursor: pointer;
        }
    }
}